div#tiny-explore{height:100vh;display:flex;flex-flow:column}div#tiny-explore>h1{padding-left:0.5rem;padding-bottom:1.25rem;padding-top:0.75rem;margin-bottom:0;border-bottom:2px solid rgba(0,0,0,0.05)}div#tiny-explore>div#tiny-explorer{height:100%}

